* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

div {
    border: 0.1rem solid #ccc;
    border-radius: .5rem;
    margin: 1rem auto;
    padding: 0.5rem;
    width: 20rem;
    height: 27rem;
    box-shadow: 0.5rem 0.5rem .3rem .3rem #ddd;
}

img {
    width: 100%;
}

button {
    width: 100%;
    padding: .5rem;
    border: none;
    background-color: blue;
    color: #eee;
    border-radius: .5rem;
}

button:hover {
    background-color: #2222b3;
    color: white;
}

a {
    color: blue;
    text-decoration: none;
}

#link {
    text-align: right;
}